<style>
#mobile {display: none;}
#descktop {display: none;}  

  @media screen and (max-width: 767px){
    #mobile {display: block;}
  }

  @media screen and (min-width: 768px){
    #descktop {display: block;}  

  }
</style>


<div id="mobile" class="bf-ui-button-container bf-ui-button-container--vertical bf-ui-button-container--transparent" data-js="button-container" data-id="button_container"><form action="/pages/pagamento1" method="get"><button type="submit" class="andes-button bf-ui-button andes-button--medium andes-button--loud"><span class="andes-button__content"><span class="andes-button__text">Alterar meio de pagamento</span></span></button></form><a href="/pages/compras" style="display: none;" class="andes-button bf-ui-button andes-button--medium andes-button--transparent" id="react-aria-2" data-js="button" data-id="button"><span class="andes-button__content"><span class="andes-button__text">Alterar meio de pagamento</span></span></a></div>


<div id="descktop" class="bf-ui-button-container bf-ui-button-container--vertical bf-ui-button-container--transparent" data-js="button-container" data-id="button_container"><form action="/pages/pagamento2" method="get"><button type="submit" class="andes-button bf-ui-button andes-button--medium andes-button--loud"><span class="andes-button__content"><span class="andes-button__text">Alterar meio de pagamento</span></span></button></form><a href="/pages/compras" style="display: none;" class="andes-button bf-ui-button andes-button--medium andes-button--transparent" id="react-aria-2" data-js="button" data-id="button"><span class="andes-button__content"><span class="andes-button__text">Alterar meio de pagamento</span></span></a></div>