<div id="truecep11" style="display: none;">

<div class="ui-pdp-media ui-pdp-shipping ui-pdp-shipping--md mb-12 ui-pdp-color--BLACK"><div class="ui-pdp-media__body"><p id="" class="ui-pdp-color--BLACK ui-pdp-family--REGULAR ui-pdp-media__title"><span class="ui-pdp-color--GREEN ui-pdp-family--SEMIBOLD">Chegará grátis</span> <span id="tempoentrega11"></span></p><div class="ui-pdp-action-modal"><div><div class="andes-tooltip__trigger"><a href="" class="ui-pdp-action-modal__link" >Mais formas de entrega</a></div></div></div></div></div>


  <div class="ui-pdp-media ui-pdp-pick-up ui-pdp-pick-up--md mb-20 ui-pdp-color--BLACK"><div class="ui-pdp-media__body"><p id="" class="ui-pdp-color--BLACK ui-pdp-family--REGULAR ui-pdp-media__title"><span class="ui-pdp-color--GREEN ui-pdp-family--SEMIBOLD">Retire grátis</span> a partir de <span id="tempoentrega22"></span> em uma agência Mercado Livre</p><div class="ui-pdp-action-modal"><a href="">Ver no mapa</a></div></div></div>
  
</div>