<style>
@media (min-width: 768px)
.containerx {
    max-width: 720px;
}

@media (min-width: 576px)
.containerx {
    max-width: 540px;
}
.containerx {
   max-width: 920px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.destaque-conclusao {
    background-color: #df000024;
    margin: 50px 0px 30px 0px;
    border: 1px #ff0303 dashed;
    border-radius: 7px;
    color: #ffffff;
    font-size: 14px;
    transform-style: preserve-3d;
}
    .button-orbe {
    background-color: rgb(25 255 195) !important;
    border-color: none;
    font-weight: 900;
    padding: 15px;
    color: #000;
    font-family: sans-serif;
}



  .text-v{ 
    font-size: 16px;
    font-weight: 100 !important;
    color: #718096 !important;
  }
   .text-p{
    padding-top: 20px;
    font-size: 14px;
    font-weight: 800 !important;
    color: #718096 !important;
  }

  .text-list{
    
    font-size: 14px;
    font-weight: 100 !important;
    color: #718096 !important;
  }
  
  
  .of {
      color: rgb(25 255 195) !important;
    }
    .est {margin-bottom: 10px;
        font-weight: 100 !important;
        font-size: 13px !important;
        color: #718096 !important;
          
    }
    .fixed {
        position: fixed;
        border-radius: 0rem !important;
        z-index: 8;
        width: 100%;
        bottom: 0;
    }

    .bg3 {
        color: #fff;
       background: #000;
        padding-top: 55px;
        margin-top: 30px;
   
  .card-4 {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

    @media (max-width: 600px) {
        .bg3 {
            background-image: linear-gradient(180deg, #060f35 33%, #00B5E2 100%);
            border-radius: 20px;
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 5px;
            color: #fff;
        }
    }


  
</style>


<section id="comprar" class="content-section bg3">
    <div class="containerx">
        <div class="single-col-max mx-auto">
            
            <div class="row">
                <div class="col-12 col-md-7 mb-5">
                    <div class="key-points mb-4 ">
                        <ul class="key-points-list list-unstyled mb-4 mx-auto d-inline-block text-left">
                          <h2 class="section-heading mb-5">Você está á um passo de receber o melhor tema do mercado<strong style="
    color: rgb(25 255 195) !important;
"> pronto para vender.</strong> </h2>
                          
                          <!-- <h2 class="section-heading mb-5">{% if section.settings.title %}{{ section.settings.title }} {% endif %}</h2> -->
            <span class="mb-5 bg3" style="mb-5 font: normal 20px/30px Montserrat, sans-serif; ">
            {% if section.settings.title %}{{ section.settings.subt }} {% endif %}
                 </span>
                            <li class="est">
                               <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                   Parcelamento + Taxa (editável)
                            </li>
                            <li class="est">
                                <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                  Tempo de carregamento extremamente rápido (~ 700 ms)
                            </li>
                            <li class="est">
                                <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                 Personalize do seu jeito
                            </li>
                            <li class="est">
                              <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                     Entrega estimada (editável)
                            </li>
                            <li class="est">
                                <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                  Landing page direto no tema
                            </li>
                            <li class="est">
                                 <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                  Chega de quebrar cabeça com códigos
                            </li>
                            <li class="est">
                                 <svg viewBox="0 0 24 24" height="20" width="20" fill="none" class="of" stroke="currentColor" xmlns="http://www.w3.org/2000/svg" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="20 6 9 17 4 12"></polyline></svg>
                   Suporte que realmente ajuda
                            </li>

                        </ul>
                       

                      

                    </div><!--//key-points-->

                </div><!--//col-12-->
               <div class="col-12 col-md-5 mb-5" style="
    background: #0f0f0f;
    border-radius: 10px;
    padding: 0px 30px 0px 30px; 
    margin-bottom: 60px;
">
      
              <div class="card-4 mb-4 shadow-sm ">
                <div class="destaque-conclusao p-3 text-center">
                    🎁 +COMUNIDADE ORBE
                </div>
                
        
          <div class="card-4 text-center ">
           <h1 class="card-title " style=" font-weight: 100; font-family: sans-serif;">12x de  <strong style="font-weight: 900;font-family: sans-serif;">R$18,06</strong></h1>  <ul class="list-unstyled mt-3 mb-4">
              <li class="p text-v">ou à vista por <strong style=" font-weight: 900; font-family: sans-serif;">R$179,90</strong></li>
             
             
            </ul>
           <a href="https://pay.kiwify.com.br/pSFmgd0">
                            <button type="button" class="btn  btn-block button-orbe btn-lg">
                              BAIXAR TEMA AGORA</button>
                        </a>

          <p class="text-p">Pagamento anual</p>

          <img loading="lazy" width="203" height="24" src="https://i0.wp.com/orbeecom.com/wp-content/uploads/2020/09/card2-1.png?resize=706%2C83&amp;ssl=1" alt="" class="kb-img wp-image-997" srcset="https://i0.wp.com/orbeecom.com/wp-content/uploads/2020/09/card2-1.png?w=706&amp;ssl=1 706w, https://i0.wp.com/orbeecom.com/wp-content/uploads/2020/09/card2-1.png?resize=300%2C35&amp;ssl=1 300w" sizes="(max-width: 706px) 100vw, 706px">
             
          </div>
        </div>

                  
                  
                </div><!--//col-->

            </div>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "OrbeEcom - ConverteX",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Título",
            "default": "Muito mais conversão! "
        },
        {
            "type": "richtext",
            "id": "subt",
            "label": "Descrição",
            "default": "<p>Esse tema conta com diversas funções importantes que irão te ajudar na sua jornada.</p>"
        }
    ],
    "presets": [
        {
            "name": "OrbeEcom - ConverteX",
            "category": "home"
        }
    ]
}
{% endschema %}
